<h1>Ecomm</h1>
<%= H1 %>

<section id="feed-posts">
   
  <% if(locals.user) {%>
    <h4>Posts</h4>
    <form action="/posts/create" id="new-post-form" method="POST">
      <textarea rows="5" cols="25" required name="content"></textarea>
      <input type="submit">
    </form>
  <%} %>
  

    <% if(locals.user) {%>
    <div id="post-list-container">
      <ul>
          <% for(post of posts) {%>
           <li>
             <p>
               <small>
                 <a href="/posts/destroy/<%= post._id %>">X</a>
               </small>
             </p>
             <%= post.content %>
             <br>
             <p>
               <small>
                 <%= post.user.name %>
               </small>
             </p>
             <div class="post-comment">
                 <% if(locals.user) {%>
                  <form action="/comment/create" method="POST">
                     <input type="text" required placeholder="Add comment" name="content">
                     <input type="hidden" name="post" value="<%= post._id %>" >
                     <input type="submit" value="Add comment">
                  </form>
                  <%}  %>
                  <div class="post-comment-list">
                    <ul id="post-comment" <%= post._id %> >
                       <% for(comment of post.comments) {%>
                        <p>
                          <small>
                            <a href="/comment/destroy/<%= comment._id %>">X</a>
                          </small>
                          <%= comment.content %>
                          <small>
                          <%= comment.user.name %>
                        </small>
                        </p>
                        <%} %>
                    </ul>
                  </div>
             </div>
           </li>
         <%} %>
      </ul>
    </div>    
  <%} %>

</section>
    
